.vscode/
obj/
out/
Report/_minted-report

*.aux
*.log
*.out
*.synctex.gz
*.lol
*.toc
*.fff
*.lof

*.o

Images/*.png

Q1-Sampling/sample
Q2-Quantization/quantize
Q3-Equalization/equalize
Q4-Specification/specify